h2 {
    color: #373737;
    font-family: 'Roboto', sans-serif;
}

.quote {
    color:  #373737;
    font-weight: 900;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

button {
    font-size: 20px;
    border: 2px solid #FFE2A6;
    border-radius: 5px;
    background-color: #FFE2A6;
    font-family: 'Roboto', sans-serif;
    padding: 8px 4px;
}

button:hover {
    background-color: #C0B283;
    border: 2px solid#C0B283;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    background-color: #C0B283;
    border: 2px solid#C0B283;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

.twitter-share-button {
    font-size: 12px;
}