<h1 class="fade-in">choose a character</h1>

<div class="person-flex fade-in">
        <div class="person" *ngFor='let person of persons' 
        [class.selected]="person === selectedPerson"
        (click)="showQuote(person);" [ngClass]="animatePerson ? 'person-bounce' : 'person'">{{person}}
        </div>
</div>

<div class="quote" *ngIf='selectedPerson'>
        "{{currentQuote}}"
        <br><a class="twitter-share-button"href='https://twitter.com/intent/tweet?text={{currentQuote}} - Michael S'>
                tweet this
        </a>
</div>
      