h1 {
    color: #373737;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
}

.person-flex {
    display: flex;
    justify-content: space-around;
}

.person {
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 2px;
    border-color: #373737;
    cursor: pointer;
    margin-top: 20px;
}

.selected {
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 2px;
    border-color: #373737;
    animation-name: bounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

@keyframes bounce {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    border: double #C0B283;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quote {
  color:  #373737;
  font-weight: 900;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.twitter-share-button {
  font-size: 12px;
}